{% extends '../../layout.html' %}
{% block title %}代理商{{ '新增' if form.action.value == 'add' else '修改' }}{% end %}
{% block menu %}
    {% module menu('agent.list') %}
{% end %}

{% block content %}
<div class="ui-title fn-clear">
    <h2 class="fn-left">{{ agent.name }}({{ agent.short_name }}){{ '新增' if form.action.value == 'add' else '修改' }}合同</h2>
</div>

<form class="ui-form" method="post" action="{{ url_concat(reverse_url('agent.contract.add'), {'agent_id': agent.id}) if form.action.value == 'add' else url_concat(reverse_url('agent.contract.edit', form.id.value), {'agent_id': agent.id}) }}" id="form">
    <fieldset>
        <div class="ui-form-item">
            <label class="ui-label"> <span class="ui-form-required">*</span>合同有效期：</label>
            <input class="ui-input" type="text" id="start_at" name="start_at" value="{{ form.start_at.value.strftime('%Y-%m-%d') if form.start_at.value else '' }}" autocomplete="off">
            至
            <input class="ui-input" type="text" id="expire_at" name="expire_at" value="{{ form.expire_at.value.strftime('%Y-%m-%d') if form.expire_at.value else '' }}" autocomplete="off">
        </div>
        <div class="ui-form-item">
            <label class="ui-label"> <span class="ui-form-required">*</span>合同说明：</label>
            <textarea name="remark" id="remark" style="width:400px; height:150px;">{{ form.remark.value }}</textarea>
        </div>
        <div class="ui-form-item">
            {% module xsrf_form_html() %}
            <input type="submit" class="ui-button ui-button-morange" value="下一步">
            <a class="ui-button ui-button-mwhite" href="{{ url_concat(reverse_url('agent.contract'), {'agent_id': agent.id}) }}">取消</a>
        </div>
    </fieldset>
</form>
{% end %}

{% block styles %}
    <link rel="stylesheet" href="http://arale.uhcdn.com/arale/calendar/1.0.0/calendar.css">
{% end %}

{% block scripts %}
<script type="text/javascript">
    seajs.use(['$', 'calendar', 'validator'], function($, Calendar, Validator){
        var c1 = new Calendar({trigger: '#start_at', range: [null , null]});
        var c2 = new Calendar({trigger: '#expire_at', range: [null , null]});

        c1.on('selectDate', function(date) {
            c2.range([date, null]);
        });

        var validator = new Validator({
            element: '#form'
        });

        validator.addItem({
            element: '[name=start_at]',
            required: true,
            rule: 'date',
            errormessage: '请选择正确合同生效日期'
        })

        validator.addItem({
            element: '[name=expire_at]',
            required: true,
            rule: 'date',
            errormessage: '请选择正确合同结束日期'
        })

        validator.addItem({
            element: '[name=remark]',
            required: true,
            errormessage: '请输入备注'
        })
    });
</script>
{% end %}