{% extends '../../layout.html' %}
{% block title %}微信代理商管理{% end %}
{% block menu %}
{% module menu('finance.agent_sequence') %}
{% end%}

{% block content %}
<div class="ui-title fn-clear" xmlns="http://www.w3.org/1999/html">
    <h2 class="fn-left">添加代理商定金</h2>
    <span class="fn-right">
        <a class="ui-button ui-button-sblue" href="{{reverse_url('finance.agent_credit')}}">预付款充值</a>
        <a class="ui-button ui-button-sblue" href="{{reverse_url('finance.agent_deposit')}}">添加定金</a>
    </span>
</div>
<div class="ui-tab" style="margin-bottom: 20px; margin-top:20px;">
    <ul class="ui-tab-items">
        <li class="ui-tab-item">
            <a href="{{reverse_url('finance.agent_sequence')}}">代理商资金</a>
        </li>
        <li class="ui-tab-item ui-tab-item-current">
            <a href="{{reverse_url('finance.agent_pay_list')}}">代理商充值</a>
        </li>
        <li class="ui-tab-item">
            <a href="{{reverse_url('finance.agent_add_supplier')}}">商户入账</a>
        </li>
    </ul>
</div>
<div>
    <form class="ui-form" id="form" method="POST" action="{{reverse_url('finance.agent_deposit')}}">
        <div class="ui-form-item">
            <label for="agent_id" class="ui-label">
                <span class="ui-form-required">*</span>代理商：</label>
            <input id="agent_input" type="text" name="agent_input" class="ui-input" value="" />
            <input id="agent_id" name="agent" type="hidden">
            <input id="agent_type" name="type" type="hidden">
            <button type="button" class="ui-button ui-button-sorange" id="confirm">确认</button>
            <p class="ui-form-explain" id="retail" style="color:red; display:none">不是预付款代理商，不用添加定金</p>
        </div>
        <div id="prepay" style="display:none">
            <div class="ui-form-item">
                <label class="ui-label">
                <span class="ui-form-required">*</span>金额：</label>
                <input name="amount" id="amount" type="text" class="ui-input">
            </div>
            <div class="ui-form-item">
                <label class="ui-label">
                    <span class="ui-form-required">*</span>有效期：</label>
                <input name="expire_at" type="text" class="ui-input" id="expire_at">
            </div>
            <div class="ui-form-item">
                <label for="remark" class="ui-label">备注</label>
                <textarea id="remark" name="remark" rows="5" cols="15" class="ui-input"
                          style="margin: 0px; width: 388px; height: 110px;">
                </textarea>
            </div>
            <div class="ui-form-item">
                {% module xsrf_form_html() %}
                <input type="submit" value="提交" class="ui-button ui-button-sorange">
            </div>
        </div>
    </form>
</div>
{% end %}

{% block styles %}
<link rel="stylesheet" href="http://arale.uhcdn.com/arale/calendar/1.0.0/calendar.css">
{% end %}

{% block scripts %}
<script>
    seajs.use(['$', 'calendar', 'moment', 'autocomplete', 'autumn', 'validator'], function ($, Calendar, moment, AutoComplete, autumn, Validator) {
        var t1 = '2012-01-01 00:00:00';
        new Calendar({trigger: '#expire_at', range: [t1, null], format: 'YYYY-MM-DD 23:59:59'})

        // 前段校验
        var validator = new Validator({
            element: '#form'
        });
        validator.addItem({
            element: '#agent_input',
            required: true,
            errormessage: '代理商不能为空，请输入'
        });
        validator.addItem({
            element: '#amount',
            required: true,
            errormessage: '金额不能为空，请输入'
        });
        validator.addItem({
            element: '#expire_at',
            required: true,
            errormessage: '有效期不能为空'
        });
        // 防止回车提交
        $(document).keypress(
            function(event){
                if (event.which == '13') {
                event.preventDefault();
            }
        });

        //初始化商户选择的自动补全
        $.post(
            '{{ reverse_url("common.autocomplete.agent") }}',
            {'_xsrf': autumn.get_cookie('_xsrf')},
            function (common_agent) {
                new AutoComplete({
                    trigger: '#agent_input',
                    filter: 'stringMatch',
                    selectFirst: true,
                    dataSource: common_agent
                }).on('itemSelected',function (data) {
                    $('#agent_id').val(data.id);
                    $('#agent_type').val(data.type);
                }).render()
            }
        );

        //确认按钮
        $('#confirm').click(function(){
            $('#prepay').css('display', 'none')
            $('#retail').css('display', 'none')
            var type = $('#agent_type').val();
            if (type == '1'){
                $('#prepay').css('display', 'block')
            }
            else{
                $('#retail').css('display', 'block')
            }
        });

    });
</script>
{% end %}
