{% extends "../layout.html" %}
{% block title %}修改密码{% end %}
{% block menu %}
    {% module menu('password') %}
{% end%}

{% block content %}
<div class="ui-title fn-clear">
    <h2 class="fn-left">修改密码</h2>
</div>

<form action="{{ reverse_url('password') }}" method="post" id="form">
    {% if form.old_pw.error %}
    <div class="ui-tipbox ui-tipbox-warning" style="margin-bottom: 20px; padding-bottom:15px">
        <div class="ui-tipbox-icon">
            <i class="iconfont" title="警告">&#xf00b7;</i>
        </div>
        <div class="ui-tipbox-content">
            <h3 class="ui-tipbox-title">{{ form.old_pw.error }}</h3>
        </div>
    </div>
    {% end %}
    <div class="ui-form-item">
        <label for="old_pw" class="ui-label">
            <span class="ui-form-required">*</span>旧密码</label>
        <input id="old_pw" type="password" class="ui-input ui-input-large" name="old_pw"
               value="{{ form.old_pw.value }}"/>
        {% if form.old_pw.error %}
        <p class="ui-form-explain ui-tiptext ui-tiptext-error">
            <i class="ui-tiptext-icon iconfont" title="出错">&#xF0155;</i>
            {{ form.old_pw.error }}
        </p>
        {% end %}
    </div>

    <div class="ui-form-item">
        <label for="pw" class="ui-label">
            <span class="ui-form-required">*</span>新密码</label>
        <input id="pw" type="password" class="ui-input ui-input-large" name="pw"
               value="{{ form.pw.value }}"/>
    </div>

    <div class="ui-form-item">
        <label for="confirm_pw" class="ui-label">
            <span class="ui-form-required">*</span>确认密码</label>
        <input id="confirm_pw" type="password" class="ui-input ui-input-large" name="confirm_pw"
               value="{{ form.confirm_pw.value }}"/>
        {% if form.confirm_pw.error %}
        <p class="ui-form-explain ui-tiptext ui-tiptext-error">
            <i class="ui-tiptext-icon iconfont" title="出错">&#xF0155;</i>
            {{ form.confirm_pw.error }}
        </p>
        {% end %}
    </div>

    <div class="ui-form-item">
        {% module xsrf_form_html() %}
        <input type="submit" class="ui-button ui-button-morange" value="保存">
    </div>
</form>
{% end %}


{% block scripts %}
 <script>
    seajs.use(['$', 'validator'],
               function ($, Validator) {

        var validator = new Validator({
            element: '#form'
        });
        validator.addItem({
            element: '#old_pw',
            required: true,
            errormessage: '旧密码不能为空'
        });
        validator.addItem({
            element: '#pw',
            required: true,
            errormessage: '新密码不能为空'
        });
        validator.addItem({
            element: '#confirm_pw',
            required: true,
            errormessage: '请输入确认密码'
        });
        if ($('#error').val()) {
            validator.execute();
        }
    });
</script>
{% end %}