{% extends "../layout.html" %}
{% block title %}销售业绩{% end %}
{% block menu %}
{% module menu('finance.profit') %}
{% end%}
{% block content %}
<div class="ui-title fn-clear">
    <h2 class="fn-left">消费利润查询</h2>
</div>
<form class="ui-form record-search-form" name="" method="get" action="{{ reverse_url('finance.profit') }}" id="form">
    <span>姓名</span>
    <input name="name" type="text" value="{{ form.name.value }}" id="operator_input">
    <input name="operator_id" type="hidden" value="{{ form.operator_id.value }}" id="operator_id">
    <span>日期</span>
    <input id="start-cal" type="text" name="start_date" value="{{ form.start_date.value }}"/> -
    <input id="end-cal" type="text" name="end_date" value="{{ form.end_date.value }}"/>
    <input id="verify" type="radio" name="kind" value="1" {% if default(form.kind.value, 1) == 1 %}checked{% end %}/> <label for="verify">验证</label>
    <input id="refund" type="radio" name="kind" value="2" {% if form.kind.value == 2 %}checked{% end %}/> <label for="refund">退款</label>
    <input id="cheat" type="radio" name="kind" value="3" {% if form.kind.value == 3 %}checked{% end %}/> <label for="cheat">刷单</label>
    {% module xsrf_form_html() %}
    <input type="hidden" name="action">
    <button type="button" id="show" class="ui-button ui-button-sorange">查询</button>
    <button type="button" id="download" class="ui-button ui-button-sblue">下载</button>
</form>
<div class="content">
    <div style="font-size: 15px; margin-bottom:5px;">
        <h3> {{ default(name,'') }}{{ default(total, '') }},{{ default(amount, '')}}{{ default(sale_amount, '') }} {{ ',' + sum_commission if sum_commission != '0' else ''}}</h3>
    </div>
    <table class="ui-table ui-table-noborder">
        <thead>
        <tr>
            <th>交易时间</th>
            <th>订单号</th>
            <th>商品</th>
            <th>售价</th>
            <th>进价</th>
            <th>{% if default(form.kind.value,1) == 1 %}支付金额{% elif default(form.kind.value,1) == 2%}退款金额{% elif default(form.kind.value,1) == 3%}刷单金额{%end%}</th>
            <th>渠道佣金</th>
            <th>利润</th>
        </tr>
        </thead>
        <tbody>
        {% if page %}
        {% for sq in page.rows %}
        <tr>
            <td>{{ sq.time }}</td>
            <td><a href="/order/{{sq.order_id}}">{{ sq.order_no }}</a></td>
            <td>{{ sq.goods_name}}</td>
            <td>{{ sq.sales_price}}</td>
            <td>{{ sq.purchase_price}}</td>
            <td>{{ sq.amount }}</td>
            <td>{{ sq.commission}}</td>
            <td>{{ sq.profit }}</td>
        </tr>
        {% end %}
        {% end %}
        </tbody>
    </table>
</div>
{% if page %}
    {% raw page.links() %}
{% end %}
{% end %}

{% block styles %}
    <link rel="stylesheet" href="http://arale.uhcdn.com/arale/calendar/1.0.0/calendar.css"/>
{% end %}

{% block scripts%}
<script>
    seajs.use(['$','tabs','autumn','calendar','moment','autocomplete'],
    function ($, Tabs, autumn, Calendar, Moment, AutoComplete) {
        // 日期选择器
        var t1 = '2012-01-01';
        var t2 = Moment().add('d',0).format('YYYY-MM-DD');
        var c1 = new Calendar({trigger: '#start-cal', range: [t1, t2]})
        var c2 = new Calendar({trigger: '#end-cal', range: [t1, t2]})

        c1.on('selectDate', function (date) {
            c2.range([date, t2]);
        });
        c2.on('selectDate', function (date) {
            c1.range([t1, date]);
        });

        // 自动补全运营姓名
        $.post(
            '{{ reverse_url("common.autocomplete.operator") }}',
            {'_xsrf': autumn.get_cookie('_xsrf')},
            function(common_operator) {
                new AutoComplete({
                    trigger: '#operator_input',
                    filter: 'stringMatch',
                    selectFirst: true,
                    dataSource: common_operator,
                    submitOnEnter: false
                }).on('itemSelected', function(data, item){
                    $('#operator_id').val(data.id);
                }).render();

            }
        );

        // 下载按钮
        $("#download").click(function(){
            $('input[name=action]').val('download');
            $('#form').submit();
        });

        $("#show").click(function(){
            $('input[name=action]').val('show');
            $('#form').submit();
        });

    });
</script>
{% end %}
