{% extends '../layout.html' %}
{% block title %}账号管理{% end %}
{% block menu %}
    {% module menu('accounts.show') %}
{% end%}


{% block content %}
<div class="ui-title fn-clear">
    <h2 class="fn-left">账号列表</h2>
    <a class="ui-button ui-button-sblue fn-right" href="{{ reverse_url('accounts.add') }}">添加账号</a>
</div>
<div class="content">
    <table class="ui-table ui-table-noborder">
        <thead>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>角色</th>
            <th>管辖门店</th>
            <th>上次登入时间</th>
            <th>操 作</th>
        </tr>
        </thead>
        <tbody>
        {% for user in page.rows %}
        <tr>
            <td>{{ user.login_name }}</td>
            <td>{{ user.name }}</td>
            <td>{{ {'finance':'财务', 'clerk': '收款店员'}.get(user.roles,'管理员') }}</td>
            <td>{{ user.shop_name if user.shop_name else '全部门店' }}</td>
            <td>{{ default(user.last_login, '') }}</td>
            <td>
                <a href="{{ reverse_url('accounts.edit', user.id) }}">修改</a> /
                <span style="cursor:pointer" data-id="{{ user.id }}">删除</span>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
    {% raw page.links() %}
</div>
{% end %}
{% block scripts %}
<script>
    seajs.use(['$','confirmbox','autumn'],
               function ($, ConfirmBox, autumn) {

        $("span[data-id]").click(function(){
            var user_id = $(this).attr('data-id');
            ConfirmBox.confirm('是否删除该操作员', '确认删除', function(){
                var action = "{{ reverse_url('accounts.delete') }}";
                $("<form></form>").attr('action',action).attr('method', 'post')
                        .append($("<input type='hidden' name='user_id' />").attr('value', user_id))
                        .append($("<input type='hidden' name='_xsrf' />").attr('value', autumn.get_cookie("_xsrf"))).submit();
                return false;
            });
        });
    });
</script>
{% end %}