{% extends '../../layout.html' %}

{% block title %}申请进度{% end %}
{% block menu %}
    {% module menu('supplier.submitted.list') %}
{% end %}

{% block content %}
<div class="col-md-12">
    <h2 class="page-title">提交申请的品牌列表</h2>
</div>
<form class="ui-form record-search-form" name="" method="get" action="">
    <span>商户名</span>
    <input id="supplier_input" type="text" autocomplete="off" name="brand" value= "{{form.brand.value}}" >
    <input id="supplier_id" type="hidden">
    <span>状态</span>
    <select name="status">
    <option value="">--全部--</option>
    {% for v,name in [(3, '待审批'), (4, '被驳回'), (5, '成功')] %}
    <option value="{{v}}"{% if form.status.value == v %} selected {% end %} >{{name}}</option>
    {% end %}
    </select>
    <span>申请日期</span>
    <input id="start_at" type="text" name="start_at" value="{{form.start_at.value}}" style="text-align: center" {% if form.start_at.value %} value="{{ form.start_at.value }}" {% else %} placeholder="请输入起始时间"{% end %}"> -
    <input id="end_at" type="text" name="end_at" value="{{form.end_at.value}}" style="text-align: center" {% if form.end_at.value %} value="{{ form.end_at.value }}" {% else %} placeholder="请输入结束时间"{% end %}">
    <button class="btn btn-success btn-mg" type="submit">查询</button>
</form>
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-content">
                <div class="body">
                    <table class="table table-striped table-images">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>申请时间</th>
                            <th>商铺名</th>
                            <th>状态</th>
                            <th>审批时间</th>
                            <th>审批人</th>
                            <th>失败原因</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index,supplier in enumerate(page.rows) %}
                            <form method="post" action="#">
                                 {% module xsrf_form_html() %}
                                <input type="hidden" name="id" value="{{supplier.id}}">
                                <tr>
                                    <td>{{ index+1 }}</td>
                                    <td>{{default(supplier.apply_time)}}</td>
                                    <td>{{default(supplier.shop_name)}}</td>
                                    {% set review_state = {3:'待审批', 4:'被拒绝'} %}
                                    <td>{{review_state[supplier.state]}}</td>
                                    <td>{{default(supplier.review_time)}}</td>
                                    <td>{{default(supplier.reviewer)}}</td>
                                    <td>{{default(supplier.refuse_reason)}}</td>
                                    <td>
                                        <button type="button" name="btn_edit" class="btn btn-sm btn-primary" onclick="edit(this)">继续编辑</button>
                                        <button type="button" name="btn_detail" class="btn btn-sm btn-primary" onclick="edit(this)">查看详情</button>
                                    </td>
                                </tr>
                             </form>
                        {% end %}
                    </tbody>
                    </table>
                    {% raw page.agent_links() %}
                </div>
                <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block styles %}
<link href="http://assets.uhcdn.com/gallery/jquery/plugins/datepicker/1.3.0/css/datepicker.css" rel="stylesheet">
{% end %}
{% block scripts %}
<script src="http://assets.uhcdn.com/gallery/jquery/plugins/datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $.fn.datepicker.dates['en'] = {
            days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
            daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
            daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
            months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            today: "Today",
            clear: "Clear"
        };
        $('#start_at').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
        }).on('changeDate', function(data) {
            var temp = $('#start_at').val();
            $('#end_at').datepicker('setStartDate', temp);
        });
        $('#end_at').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
        }).on('changeDate', function(data){
            var temp = $('#end_at').val();
            $('#start_at').datepicker('setEndDate', temp);
        });
});
function edit(button)
{
    var name = button.getAttribute("name");
    if (name == 'btn_edit')
    {
        button.form.action="{{ reverse_url('supplier.submitted.edit') }}";
        button.form.submit();
    }
    else
    {
        button.form.method="get";
        button.form.action="{{ reverse_url('supplier.submitted.detail') }}";
        button.form.submit();
    }

}
</script>
{% end %}