<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 一百券运营后台</title>
    <link media="all" href="http://arale.uhcdn.com/alice/one/1.2.2/one.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
    <link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}" type="image/x-icon">
</head>

<body>
<div id="main-wrapper">
    <div class="ui-grid-row">
        <div class="ui-grid-25">
            <div>
                <div class="fn-left">
                    <a href="/" title="我的一百券" id="logo"></a>
                </div>
            </div>
        </div>
    </div>

    <div style="width:400px; margin: 20px auto; line-height: 40px; height: 210px; font-size:18px; padding-left: 180px; background: url(http://img0.uhcdn.com/images/autumn/404.png) no-repeat">
        <ul>
            <li>施主，</li>
            <li>你好像迷路了。</li>
            <li>你从哪里来？ 要到哪里去？</li>
            <li>要不，</li>
            <li><a href="/">随我去收衣服吧</a>。</li>
        </ul>
    </div>

    <div id="footer">
        <p>&copy; 2013 上海视惠信息科技有限公司 | 客服电话：400-686-5151</p>
    </div>

</div>
</body>
</html>
