{% extends "layout.html" %}
{% block title %}首页{% end %}
{% block menu %}
{% module menu('welcome') %}
{% end%}

{% block content %}
<div class="ui-grid-row" >
    <div class="ui-grid-18">
        <div id="sentence" style="font-size: 22px; margin-top: 100px; text-align: center; color:#6d6969;"></div>
    </div>
    <div class="ui-grid-6" >
        <div style="margin-top: 20px;">
            <div class="ui-select-trigger" style="display: block;">行政通告</div>
            <div style="border: 1px solid #ccc;margin-top:-1px; min-height:300px;">
                <ul style="list-style-type:disc; margin:20px 0 20px 20px;">
                {% for item in notice %}
                <li style="padding: 5px 0">
                    {% set item.title = item.title.decode('utf-8') %}
                    <a href="{{ reverse_url('admin.notice.detail', item.id) }}">{{ item.title if len(item.title) < 14 else item.title[:13] + '...'}}</a>
                </li>
                {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block scripts %}
    <script>
        var sentences = [
            "尝试后可能会放弃，但千万不能放弃尝试。",
            "如果你真的想做什么事，你会找到方法。<br/>如果你不想，那你只能找到借口。",
            "你必须尽力发挥上帝所赐予你的。《阿甘正传》",
            "人生，关键是要有耐心。<br/>奔着目标，慢慢走，会好过毫无目标，傻傻往前冲。",
            "全力以赴，即使任务看起来超有难度。",
            "我希望你过着让自己骄傲的生活。<br/>如果没有，我希望你有勇气可以重头来过。",
            "梦想和现实之间的那段距离，叫做行动。",
            "能够登顶金字塔的生物只有两种--鹰和蜗牛。",
            "对于一些人来说，命运是由自己书写的，没有什么是注定的。",
            "胜利是不会向我走来的，我必须自己走向胜利。(穆尔)",
            "奋战过失败，胜过不战而败。",
            "如果你想拥有从未有过的东西，那么你必须去做你从未做过的事。<br/>(Thomas Jefferson)",
            "生命中最伟大的光辉，不在于永不坠落，而是坠落后总能再度升起。<br/>(曼德拉)",
            "生活会把我们打趴下， 但我们可以选择是否重新站起来。",
            "不要放弃做自己，人生很短，根本没时间模仿别人。",
            "用微笑告诉世人，今天的你比昨天更加强大。",
            "伟大的人有目标，平庸的人只有愿望。",
            "我们不能成为那些只是为了柴米油盐拼命工作，却没有时间追求梦想的人。",
            "你唯一应该超越的人，是昨天的自己。",
            "我们能做的只是拼尽全力，即使迈出的步子再小，也比昨天要更接近自己的目标。",
            "勇气就是虽感恐惧，但仍会前行。",
            "人可以被毁灭，但不可以被打败。",
            "失败多少次不重要，重要的是你能重新站起来多少次，并且继续前行。",
            "别指望事情会自然发生，行动起来，让它们变成可能！",
            "不憧憬明天，不留念昨天，只把握今天。",
            "正是我们的抉择，造就了我们的一生。《小屁孩日记》",
            "明天是未知的，我们还是享受此刻吧！《摇滚夏令营》",
            "如果每天不学点新的东西，就是在浪费生命。",
            "你不主导命运，就会被命运主导。",
            "追求卓越，成功自然来。《三傻大闹宝莱坞》",
            "爬上山顶并不是为了让全世界看到你，而是让你看到整个世界。",
            "今日为梦想所付出的每一份努力都会减少明日的一份后悔。",
            "勇敢做自己，永远都不迟。（乔治·艾略特）",
            "世上最美的，莫过于从泪水中挣脱出来的那个微笑。",
            "当你对成功的渴望犹如呼吸般得不可或缺，你就一定会成功。",
            "不要踩着别人的脚印，找自己的路。",
            "我可以穿越云雨，也可以东山再起。(玛丽亚·凯莉)",
            "生活很艰苦，但我更坚强。",
            "每个牛B的成功者都经历过苦B的岁月。(鲍博.布朗)",
            "生命是一段精彩旅程，要活的有自己的样子，而不是别人的影子。",
            "无论你犯了多少错，或者进步得有多慢，你都走在了那些不曾尝试的人的前面。",
            "总有些更重要的事情，赋予我们打败恐惧的勇气。",
            "请对自己说：无论生活之路上会遇到多少障碍，我会竭尽所能地跑完这一程。",
            "对的那条路，往往不是最好走的。",
            "我不在乎别人的质疑，我只会做好自己。"
            ];
        var start = new Date(2014,0,14);
        var now = new Date();
        day_diff = parseInt((now.getTime()-start.getTime())/86400000);
        document.getElementById('sentence').innerHTML=sentences[day_diff%sentences.length];
    </script>
{% end %}
