<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% end %} | 一百券商户后台</title>
    <link media="all" href="http://arale.uhcdn.com/gallery/alice_custom/one.1.2.2.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}" type="image/x-icon">
    {% block pre_styles %}{% end %}
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
    {% block styles %}{% end %}
</head>
<body>
<div id="main-wrapper">
    <div id="main-left">
        <div class="nav-user fn-clear">
            <div class="fn-left" style="margin-right: 15px;">
                <img src="{{ 'http://img0.uhcdn.com/p/778/169/588/a8b04091_2014033017074525772_nw.png' if current_user.supplier_id != 5 else 'http://img0.uhcdn.com/p/748/244/883/cd6322ae_2014040917014729587_nw.jpg' }}" width="50px" height="50px">
            </div>
            <div class="fn-left" style="width: 100px; white-space: nowrap; overflow-x: hidden; color: #c7ccda;">
                <table style="margin-top: 8px; width: 100%;">
                    <tr>
                        <td>{{current_user.name or current_user.login_name}}</td>
                        <td style="text-align: right;"><a href="{{ reverse_url('logout') }}" style="color: #5f6d8f;">退出</a> </td>
                    </tr>
                </table>
                <p>{{current_user.supplier_short_name}}</p>
            </div>
        </div>
        <div class="nav-primary">
            <ul class="nav-main">
                {% block menu %}{% end %}
            </ul>
        </div>
    </div>
    <div id="main-right">
        <div id="main-content">
            {% block content %}{% end %}
        </div>
    </div>
    <div id="footer">
        <p>&copy; 2014 上海视惠信息科技有限公司 | 客服电话：400-686-5151</p>
    </div>
</div>
    <script charset="utf-8" id="seajsnode"
            src="http://arale.uhcdn.com/seajs/??seajs/2.1.1/sea.js,seajs-combo/1.0.0/seajs-combo.js,seajs-style/1.0.1/seajs-style.js"></script>
    <script>
        seajs.config({
            alias: {
                '$':            'jquery/jquery/1.7.2/jquery',
                'highcharts':   'alinw/highcharts/3.0.8/highcharts',
                'confirmbox':   'arale/dialog/1.2.2/confirmbox',
                'autocomplete': 'arale/autocomplete/1.3.0/autocomplete',
                'base':         'arale/base/1.1.1/base',
                'calendar':     'arale/calendar/1.0.0/calendar',
                'class':        'arale/class/1.1.0/class',
                'dialog':       'arale/dialog/1.2.2/dialog',
                'events':       'arale/events/1.1.0/events',
                'iframe-shim':  'arale/iframe-shim/1.0.2/iframe-shim',
                'overlay':      'arale/overlay/1.1.2/overlay',
                'popup':        'arale/popup/1.1.5/popup',
                'position':     'arale/position/1.0.1/position',
                'templatable':  'arale/templatable/0.9.2/templatable',
                'validator':    'arale/validator/0.9.6/validator',
                'widget':       'arale/widget/1.1.1/widget',
                'tabs':         'arale/switchable/1.0.1/tabs',

                'handlebars':   'gallery/handlebars/1.0.2/handlebars',
                'moment':       'gallery/moment/2.0.0/moment',
                'selection':    'gallery/selection/0.9.0/selection',
                'ztree':        'gallery/ztree/3.5.14/ztree',

                'autumn':       'autumn/0.0.1/autumn',
                'kindeditor':   'kindeditor/4.1.7/kindeditor'
            }
        });
        seajs.use(['$'], function($){
            function show() {
                $.ajax({
                    url: "{{ reverse_url('message.unread') }}",
                    success: function(data){
                        if (data.count > 0) {
                            $('#mess').show();
                        }
                    }
                })
            }
            show();
            setInterval(show, 60000);

            if (/MSIE [1-6]/.test(navigator.userAgent)) {
                document.body.removeChild(document.getElementById("main-wrapper"));
                document.body.innerHTML = '<iframe src="/older-ie" width="100%" height="100%"></iframe>';
            }
        });
    </script>
    {% block scripts %}{% end %}
</body>
</html>