{% extends "layout.html" %}
{% block menu %}
{% module menu('about') %}
{% end%}
{% block banner %}
    <div style="background-color: #714119;">
        <div style="height: 403px; background: url(http://img0.uhcdn.com/o/856/239/121/2014042416591649913.jpg) no-repeat center;"></div>
    </div>
{% end %}
{% block content %}
<img src="http://img.uhcdn.com/o/315/80/381/2014042417072783741.jpg" alt="" />
<img src="http://img.uhcdn.com/o/856/291/858/2014042416591703898.jpg" alt="" />
<img src="http://img1.uhcdn.com/o/855/684/561/2014042416591057457.jpg" alt="" />
<img src="http://img1.uhcdn.com/o/856/366/14/2014042416591779854.jpg" alt="" />
{% end %}
