{% extends "layout.html" %}
{% block menu %}
{% module menu('') %}
{% end%}
{% block banner %}
    <div style="background-color: #040b13;">
        <div style="height: 403px; background: url(http://img0.uhcdn.com/o/249/490/297/2014042321583581481.jpg) no-repeat center;"></div>
    </div>
{% end %}
{% block content %}
    <table style="margin: 10px 0;">
        <tr>
            <td><img src="http://img.uhcdn.com/o/688/357/207/2014042322043770063.jpg"></td>
            <td><img src="http://img.uhcdn.com/o/696/156/904/2014042322051953544.jpg"></td>
            <td><img src="http://img1.uhcdn.com/o/704/44/621/2014042322060227181.jpg"></td>
            <td><img src="http://img1.uhcdn.com/o/699/597/244/2014042322055550196.jpg"></td>
        </tr>
    </table>
    <table style="margin: 10px 0;">
        <tr>
            <td><img src="http://img.uhcdn.com/o/936/180/138/2014042411432595594.jpg"></td>
            <td style="vertical-align: top;">
                <div> <img src="http://img0.uhcdn.com/o/936/874/614/2014042411433306726.jpg"> </div>
                <div style="font-size: 12px; line-height: 150%;">
                    <p style="margin: 5px;">
                        ·上海视惠科技有限公司成立于2007年，注册资金3000万，致力于互联网全网生态整合营销服务平台，是电子商务领域O2O模式
                        （ Online to Offline ）的翘楚企业。 视惠经历7年互联网全网云生态整合营销，
                        积累主流电商渠道何资源并通过微信二次开发整合融入CRM只能操作后台，为商户提供便捷智能的全网云生态整合营销解决方案。
                    </p>
                    <p style="margin: 5px;">
                        ·视惠CRM涵盖微信运营和营销，着重客户关系管理系统，以客户为中心，
                        采用微信，天猫代运营，团购一键分销等流行的网络营销方式。
                    </p>
               </div>
                <div> <img src="http://img0.uhcdn.com/o/936/203/931/2014042411432619939.jpg"> </div>
            </td>
        </tr>
    </table>

{% end %}
