{% extends "layout.html" %}
{% block menu %}
{% module menu('tmall') %}
{% end%}
{% block banner %}
    <div style="background-color: #1e5e9c;">
        <div style="height: 403px; background: url(http://img0.uhcdn.com/o/829/934/420/2014042416564050340.jpg) no-repeat center;"></div>
    </div>
{% end %}
{% block content %}
<img src="http://img.uhcdn.com/o/830/613/662/2014042416564770454.jpg" alt="" />
<img src="http://img.uhcdn.com/o/829/984/945/2014042416564102065.jpg" alt="" />
<img src="http://img1.uhcdn.com/o/830/648/728/2014042416564806360.jpg" alt="" />
<img src="http://img1.uhcdn.com/o/829/1017/400/2014042416564135312.jpg" alt="" />
{% end %}
