{% extends 'layout.html' %}
{% block styles %}
<style type="text/css">
	.content p {
		line-height: 28px;
	}
</style>
{% end %}
{% block content %}
<div class="container" style="padding: 28px 0;">
			<div class="notice">
				<h4 class="title">一百券改版公告</h4>
				<div class="content">
					<p>亲爱的的客户：</p>
					<div style="padding-left:36px;">
						<p>我们又改版啦啦啦拉拉 感谢大家一直以来对一百券网站的关注和支持！</p>
	    				<p>由于本站运营活动的调整，我公司对网站形式和内容进行了改版，并于2013年10月25日起启用新版网站。</p>
	     				<p>一百券新网站将继续提供安全、方便、快捷、最新的优惠资讯，惠生活惠消费。</p>
     				</div>
     				<br/>

     				<p>温馨提示：</p>
					<div style="padding-left:36px;">
      					<p>1、所有之前购买的券可以继续正常使用；</p>
      					<p>2、已购买的券若需要重新接收券号短信，请直接联系一百券客服， </p>
      					<p>3、已购买的券若需要退款或者提现，也请直接联系一百券客服；</p>
      					<p>4、新版网站所有商品将跳转到一百券在各大分销商开的旗舰店，包括：淘宝（券生活8）、天猫商城（视惠生活服务）、京东、一号店、58等，请放心购买；</p>
      				</div>
  					<br/>
  					<p>给您带来不便，敬请谅解！</p>
  					<p style="text-align: right">一百券运营团队 2013.10.24</p>

				</div>
			</div>
		</div>
{% end %}
