{% extends 'layout.html' %}

{% block content %}
<div class="container" style="padding: 28px 0;">
	<div id="search_things">
		<ul>
            {% for goods in goods_list %}
			<li class="thing">
				<a href="{{ url_concat(reverse_url('goods.detail', goods.id), {'category': category}) }}" target="_blank">
					<img src="{{ goods.img_path }}" alt="这是一个商品" width="272" height="208">
				</a>
				<h4>{{ goods.short_name }}</h4>
				<div>
					<p class="origin_price">原价：¥{{ goods.face_value }}</p>
					<p class="sales_price"><small>¥</small>{{ goods.sales_price }}</p>
					<div class="clear"></div>
				</div>
			</li>
            {% end %}
			<div class="clear"></div>
		</ul>
	</div>

</div>
{% end %}