{% extends "../layout.html" %}
{% block title %}微信接入{% end %}
{% block menu %}
{% module menu(None) %}
{% end%}

{% block content %}
<div class="ui-title fn-clear">
    <h2 class="fn-left">微信接入</h2>
</div>
<div class="ui-content" style="margin-top:30px">
    <div class="ui-tipbox ui-tipbox-message" style="margin-bottom: 10px; padding-bottom: 10px">
        <div class="ui-tipbox-icon">
            <i class="iconfont" title="提示">&#xF0142;</i>
        </div>
        <div class="ui-tipbox-content">
            <h3 class="ui-tipbox-title">您的微信公众号还没绑定，请联系我们的客服人员</h3>
        </div>
    </div>
</div>
{% end %}


{% block scripts %}
<script>
</script>
{% end %}
