{% extends "../layout.html" %}
{% block title %}导入发货单{% end %}
{% block menu %}
{% module menu('real.import_partner_order') %}
{% end%}

{% block content %}
<div class="ui-tab" style="margin-bottom: 20px; margin-top: 20px;">
    <ul class="ui-tab-items">
        <li class="ui-tab-item">
            <a href="{{ reverse_url('real.import_partner_order') }}">导入渠道订单</a>
        </li>
        <li class="ui-tab-item">
            <a href="{{ reverse_url('real.show_order_shipping') }}">下载发货单</a>
        </li>
        <li class="ui-tab-item ui-tab-item-current">
            <a href="javascript:;">导入发货单</a>
        </li>
        <li class="ui-tab-item">
            <a href="{{ reverse_url('real.show_track_no') }}">下载渠道运单文件</a>
        </li>
    </ul>
</div>
<div class="panels">
    <div class="panel">
        <form action="{{ reverse_url('real.import_order_shipping') }}" method="post" class="ui-form" enctype="multipart/form-data">
            <div class="ui-form-item">
                <label class="ui-label">
                    <span class="ui-form-required">*</span>选择文件</label>
                <input type="file" name="order_shipping_file"/>
                {% if error == 1 %}
                    <p class="ui-form-explain ui-tiptext ui-tiptext-error">
                        <i class="ui-tiptext-icon iconfont" title="出错">&#xF045;</i>
                        {% if message is '' %}
                           请选择文件
                        {% else %}
                            {{ message }}
                        {% end %}
                    </p>
                {% end %}
                {% if error == 2 %}
                    {% if len(success_list)>0 %}
                    <p class="ui-form-explain ui-tiptext ui-tiptext-success">
                        <i class="ui-tiptext-icon iconfont" title="成功">&#xF049;</i>
                            {{ message }}
                    </p>
                    <p class="ui-form-explain">以下为导入成功的订单：</p>
                    <p class="ui-form-explain">{{ ','.join(success_list) }}</p>
                    {% end %}
                    {% if len(failure_list) %}
                        <p class="ui-form-explain">以下订单还没有填写快递信息：</p>
                        <p style="color: red">{{ ','.join(failure_list)}}</p>
                    {% end %}
                    {% if taobao_failure %}
                        <p class="ui-form-explain">以下为淘宝自动发货失败的订单：</p>
                        <p class="ui-form-explain" style="color: red">{{ ','.join(taobao_failure) }}</p>
                    {% end %}
                {% end %}
                <p class="ui-form-explain">(请在下载的发货单中指定位置填写快递信息.请勿随意修改发货单中其他信息!) </p>
            </div>

            <div class="ui-form-item">
                {% module xsrf_form_html() %}
                <input type="submit" class="ui-button ui-button-morange" value="上传">
            </div>
        </form>
    </div>
</div>
{% end %}
